header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 2px #444 solid;
}

header h1 {
  color: #fff;
}

header .cta-buttons {
  display: flex;
  gap: 35px;
}