* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu";
  background-color: #111;
  color: #fff;
}

a {
  text-decoration: none;
}

.container {
  padding: 10px 60px;
}

.btn {
  display: inline-block;
  padding: 13px 27px;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  font-size: 17px;
  outline: none;
  border: none;
  text-decoration: none;  
  cursor: pointer;
  transition: 200ms ease-in-out;
}

.btn.btn-primary {
  background-color: #F0A500;
  color: #222;
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: -3px 5px 10px 5px rgba(0, 0, 0, 0.4);
}

.btn.btn-ghost {
  background: none;
  border: 2px solid #333;
}

.btn.btn-ghost:hover {
  background: #fff;
  color: #222;
  border: 2px solid #fff;
}

.link-primary {
  text-decoration: underline;
  display: block;
  color: #fff;
}

input {
  display: block;
  outline: none;
  border: none;
  padding: 12px 15px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #222;
  color: #fff;
  transition: 200ms ease-in-out;
  font-family: "Ubuntu";
}

input:focus {
  background-color: #444;
}
